<% include partials/haeder.ejs %>

<br>
<br>

<center>
	<h1>
		<a href="/homePage">
			Info Documents
		</a>
	</h1>

	<h4>
		<a href="/makeANewInfoDocument">
			make a new page
		</a>
	</h4>

	<h5>
		<a href="/makeANewAboutDocument">
			make a new feild
		</a>
	</h5>

</center>

<br>

<center hidden>
	<input type="text" id="serchPram">
	<button onclick="seeSearch()"> search by title </button>
</center>

<br>

<center >
	<div>
		<label for="sel1">search by:</label>
		<select id="mySelect">
			
			<% for(let i = 0; i < resultAll.resultAbout.length; i++){ %>

			<option> <%= resultAll.resultAbout[i].feald %> </option>
			
			<% } %>

		</select>
		<input type="text" id="otherSerchPram">
		<button onclick="seeBetterSearch()"> search </button>
		<br>
	</div> 
</center>

<br>
<br>

<div class="list-group" >

	<% for(let i = 0; i < resultAll.resultInfo.length; i++){ %>
		<% let tempVar = resultAll.resultInfo[i]; %>
		<% //console.log("tempVar" + i)  %>
		<% //console.log(tempVar)  %>

		<% if(resultAll.resultInfo[i].title != null){ %>
			<% console.log(i) %>
			<% //console.log(tempVar.title.slice(0, -1) ) %>
			<% //tempVar.title = tempVar.title.slice(0, -1) %>

			<a class="list-group-item list-group-item-action" href=" /infoCollection/<%= tempVar.title %> "> 
				<% JSON.stringify(tempVar.title) %>
				<%= tempVar.title %> - http://localhost:3000/infoCollection/<%= tempVar.title %>
			</a>
			
		<% } %>
	<% } %>

</div>

<script>

	function seeSearch(){

		// console.log("something");

		let serchPram = document.getElementById("serchPram").value;

		// let xhr = new XMLHttpRequest();
		// xhr.open("GET", "/searchThoughInfoForTite/" + serchPram, true);
		// xhr.setRequestHeader("Content-type", "application/json");
		// xhr.send();

		window.location.href = "/searchThoughInfoForTite/" + serchPram;
	}

	function seeBetterSearch(){

		let iterator = document.getElementById("mySelect").selectedIndex;

		let searchBy = document.getElementsByTagName("option")[iterator].value;

		//let otherSerchPram = ""

		let otherSerchPram = document.getElementById("otherSerchPram").value;

		//otherSerchPram

		console.log (searchBy);
		console.log (otherSerchPram);

		if(otherSerchPram == null || otherSerchPram == ""){
			console.log("if");
			window.location.href = "/homePage"
		}else{
			console.log("else");
			window.location.href = "/searchThoughInfoForAnything/" + searchBy + "/" + otherSerchPram;
		}

	}

</script>

<% include partials/footer.ejs %>