<% include partials/haeder.ejs %>

<%= resultAll.length %>



<script type="text/javascript">
	console.log( "<%= resultAll.resultInfo._id %>" );
</script>

<p> stuff </p>

<% include partials/footer.ejs %>